<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head.html" .}}
    <title>Quaero - Home</title>
</head>

<body class="has-navbar-fixed-top">

    {{template "navbar.html" .}}

    <div class="container is-fluid">

        <!-- Heading Section -->
        <section class="section">
            <h1 class="title">Quaero</h1>
            <p class="subtitle">Unified Data Collection and Analysis Platform</p>
        </section>

        <!-- Main Content -->
        <section class="section">

            {{template "service-status.html" .}}

            {{template "service-logs.html" .}}

        </section>

    </div>

    {{template "footer.html" .}}

    {{template "snackbar.html" .}}

</body>

</html>